
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#9E9E9E">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arvo:400,700' rel="stylesheet">
    <link href='/static/main.css' rel="stylesheet">

    <title>Ist Kickl schon weg?</title>
  </head>
  <body>
    <div class="hero col">
      <div class="hero-body row">
        <div class="nein col-xs-12 col-md-8">
          <h1>Nein.</h1>
          <h3>Eine detailliertere Unterüberschrift?</h3> <br/>
        </div>
        <div class="content col-xs-12 col-md-4">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="hero-foot">
        <div class="intro row middle-xs">
          <div class="col-xs-8 col-xs-offset-2">
            <blockquote>
              Einführender Text zur "Sündenliste" der zum runterscrollen verleitet.
            </blockquote>
          </div>
        </div>
      </div>
    </div>
    <section class="row middle-xs">
      <div class="col-xs-8 col-xs-offset-2">
        <blockquote>
          Eine Sünde?
        </blockquote>
      </div>
    </section>
    <footer class="row">
      <div class="footer-column col-xs-6">
        <span>© Max Wolschlager, 2018</span>
      </div>
      <div class="footer-column col-xs-6"></div>
    </footer>
  </body>
</html>
