
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="theme-color" content="#9E9E9E">
    <link href='/static/flexboxgrid.min.css' rel="stylesheet">
    <link href='/static/fonts.css' rel="stylesheet">
    <link href='/static/main.css' rel="stylesheet">

    <title>Ist Kickl schon weg?</title>
  </head>
  <body>
    <div class="hero col">
      <div class="hero-body row">
        {% block herotext %}{% endblock %}
        {% block herocontent %}{% endblock %}
      </div>
      <div class="hero-foot">
        {% block herofoot %}{% endblock %}
    </div>
    {% block bodycontent %}{% endblock %}
    <footer class="row">
      <div class="footer-column col-xs-6">
        <span>made by meks</span><br>
      </div>
      <div class="footer-column col-xs-6">
        <span><a href="https://epicenter.works/kontakt">Impressum</a></span><br>
        <span><a href="mailto:feedback@istkicklschonweg.at">feedback@istkicklschonweg.at</a></span><br>
      </div>
    </footer>
  </body>
</html>
