
<div class="intro row center-xs middle-xs">
    <div class="col-xs-12 col-md-8 col-md-offset2">
      <h3>Solange du noch hier bist…</h3>
      <p>hätten wir eine kleine Bitte an dich. Hinter dieser Kampagne steht <a target="_blank" href="https://epicenter.works/">epicenter.works</a> gemeinsam mit anderen gemeinnützigen Organisationen aus Österreich. Für diese und andere Kampagnen brauchen wir deine Unterstützung. Hilf uns eine starke Stimme für die Zivilgesellschaft zu sein! </p>
      
      <a class="button" target="_blank" href="https://spenden.epicenter.works/"><h3>Spenden</h3></a>
    </div>
</div>