{% load petition_filters %}

<div class="petition" id="petition">
  <div class="petition-text">
    <h3>Jetzt mitzeichnen!</h3><br/>
    <p>Wir fordern den Rücktritt von Innenminister Herbert Kickl und bitten Bundespräsident Dr. Alexander Van der Bellen und Bundeskanzler Sebastian Kurz auf seine Entlassung hinzuwirken.</p>
    <!--p>Wenn du dich fragst, ob man sich noch trauen kann, Herbert Kickl offen zum Rücktritt aufzufordern, dann ist es höchste Zeit, dass du es tust. Deine Daten werden von uns nur in Papierform an die Bundespräsidentschaftskanzlei übergeben und von uns danach sofort gelöscht.</p-->
  </div>
  <form method="post" novalidate>
    {% csrf_token %}

    {% for field in form %}
      {% if field|field_type:'checkboxinput' %}
        {{ field.errors }}
        {{ field }}
        {{ field.label_tag }}
      {% else %}
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field }}
      {% endif %}
    {% endfor %}
    <input class="petition-input" type="submit" value="Unterschreiben">
    <label>* Pflichtfelder</label>
  </form>
</div>
