{% extends "base.html" %}

{% block herotext %}
  <div class="nein col-xs-12 col-md-7 col-lg-8 ">
    <h1>Nein,</h1>
    <h3>aber schon {{ signature_count }} fordern Kickls Rücktritt.</h3> <br/>
  </div>
{% endblock %}

{% block herocontent %}
  <div class="col-xs-12 col-md-5 col-lg-4">
    {% include "form.html" %}
  </div>
{% endblock %}

{% block herofoot %}
   <div class="intro row middle-xs">
      <div class="col-xs-8 col-xs-offset-2">
        <blockquote>
          Das hat sich Herbert Kickl als Innenminister geleistet:
        </blockquote>
      </div>
    </div>
  </div>
{% endblock %}

{% block bodycontent %}
  <section class="row middle-xs center-xs">
    <h3>
      900.000 Euro für Polizeipferde
    </h3>
  </section>
  <section class="row middle-xs center-xs">
    <h3>
      Digitale Hausdurchsuchungen bei Asylwerbenden
    </h3>
  </section>
  <section class="row middle-xs center-xs">
    <h3>
      Versuch die Vorratsdatenspeicherung wiedereinzuführen
    </h3>
  </section>
  <section class="row middle-xs center-xs">
    <h3>
      Beschluss des Überwachungspaketes
    </h3>
  </section>
  <section class="row middle-xs center-xs">
    <h3>
      Ausverkauf von Gesundheitsdaten
    </h3>
  </section>
  <section class="row middle-xs center-xs">
    <h3>
      Einschränkung der Medienfreiheit
    </h3>
  </section>
  <section class="row middle-xs center-xs">
    <h3>
      Verbot Polizist_innen bei der Arbeit zu filmen
    </h3>
  </section>
  <section class="row middle-xs center-xs">
    <h3>
      Polizeirekrutierung im rechtsextremen Milieu
    </h3>
  </section>
  <!-- Buggy
  <div class="petition-container row middle-xs">
    <div class="col-xs-12 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
      {% include "form.html" %}
    </div>
  </div>
  -->
{% endblock %}
 