{% extends "base.html" %}
{% load petition_filters %}

{% block herotext %}
  <div class="col-xs-12 col-md-7 col-lg-8">
    <div id="nein-top" class="nein-text col-xs-12 end-xs">
      <h3> Ist Kickl schon weg? </h3>
    </div>
    <div id="nein-kickl" class="col-xs-12 row">
      <div id="nein" class="nein-text">
        <h1>Nein,</h1>
        <h3>aber schon {{ signature_count }} {% if signature_count == 1 %}Person fordert{% else %}Menschen fordern{% endif %} Kickls Rücktritt.</h3>
      </div>
    </div>
</div>
{% endblock %}

{% block herocontent %}
  <div class="col-xs-12 col-md-5 col-lg-4">
    {% include "form.html" %}
  </div>
{% endblock %}

{% block herofoot %}
   <div class="intro row middle-xs">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <blockquote>
          Das hat sich Herbert Kickl als Innenminister geleistet:
        </blockquote>
      </div>
   </div>
{% endblock %}

{% block bodycontent %}
  {% for sin in sins %}
  <section class="row middle-xs">
    <div class="col-xs-12 col-md-8 col-md-offset-2 middle-xs">
      <h3>
        {{ sin.description }}
      </h3>
      <p>
        – <span><a target="_blank" href="{{ sin.source_url|safe }}">{{ sin.source_host }}</a></span>
      </p>
      <div class="social">
        <h3><a class="socicon-twitter" target="_blank" href="https://twitter.com/intent/tweet?text={{ sin.share_text|urlencode }} https%3A%2F%2Fistkicklschonweg.at"></a></h3>
        <h3><a class="socicon-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fistkicklschonweg.at?t={{ sin.share_text|urlencode }}"></a></h3>
        <h3><a class="socicon-mail" target="_blank" href="mailto:?&amp;subject={{ sin.description }}&amp;body={{ sin.share_text|urlencode }} https%3A%2F%2Fistkicklschonweg.at"></a></h3>
        <h3><a class="socicon-whatsapp" target="_blank" href="https://{% if request|is_mobile %}api{% else %}web{% endif %}.whatsapp.com/send?text={{ sin.share_text|urlencode }}+https%3A%2F%2Fistkicklschonweg.at"></a></h3>
        <h3><a class="socicon-telegram" target="_blank" href="https://telegram.me/share/url?url={{ sin.share_text|urlencode }}+https%3A//istkicklschonweg.at"></a></h3>
      </div>
    </div>
  </section>
  {% endfor %}
  <section class="row middle-xs center-xs">
    <a onclick="scrollToTop()" style="display: none" class="button" id="scrollButton"><h3>Ich unterstütze die Rücktritts&shy;forderung!</h3></a>
    <noscript>
      <a class="button" id="scrollButton" href="#petition"><h3>Ich unterstütze die Rücktritts&shy;forderung!</h3></a>
    </noscript>
    <script>
      document.getElementById('scrollButton').style.display = 'inline'
      function scrollToTop() {
        var y1 = window.scrollY;
        y1 = y1 - 200;
        window.scrollTo(0, y1);
        if (y1 > 0) {
          window.requestAnimationFrame(scrollToTop);
        }
      }
    </script>
  </section>

  <section id="shareables" class="row middle-xs center-xs shareables">
    <div class="shareables-title col-xs-12 col-md-12 middle-xs middle-md">
      <h3>Jetzt Share-Bilder herunterladen:</h3>
    </div>
    <div class="shareable">
      <a download="kickl_shareable_1.png" href="/static/img/shareables/kickl_shareable_1.png" title="Wohin soll der Bundeskanzler Herbert Kickl schicken?">
        <noscript>
          <img class="shareable-image" src="/static/img/shareables/kickl_shareable_1.png" />
        </noscript>
        <div class="shareable-image"></div>
        <div class="shareable-overlay">⇩</div>
      </a>
    </div>
    <div class="shareable">
      <a download="kickl_shareable_2.png" href="/static/img/shareables/kickl_shareable_2.png" title="Kickl Ciao!">
        <noscript>
          <img class="shareable-image" src="/static/img/shareables/kickl_shareable_2.png" />
        </noscript>
        <div class="shareable-image"></div>
        <div class="shareable-overlay">⇩</div>
      </a>
    </div>
    <div class="shareable">
      <a download="kickl_shareable_3.png" href="/static/img/shareables/kickl_shareable_3.png" title="Abschiedsbussi für Herbert Kickl">
        <noscript>
          <img class="shareable-image" src="/static/img/shareables/kickl_shareable_3.png" />
        </noscript>
        <div class="shareable-image"></div>
        <div class="shareable-overlay">⇩</div>
      </a>
    </div>
    <div class="shareable">
      <a download="kickl_shareable_4.png" href="/static/img/shareables/kickl_shareable_4.png" title="Verleihen wir Herbert Kickl Flügel!">
        <noscript>
          <img class="shareable-image" src="/static/img/shareables/kickl_shareable_4.png" />
        </noscript>
        <div class="shareable-image"></div>
        <div class="shareable-overlay">⇩</div>
      </a>
    </div>
    <div class="shareable">
      <a download="kickl_shareable_5.png" href="/static/img/shareables/kickl_shareable_5.png" title="Lieber wieder schlechte Sprüche als weitere Grundrechtsbrüche">
        <noscript>
          <img class="shareable-image" src="/static/img/shareables/kickl_shareable_5.png" />
        </noscript>
        <div class="shareable-image"></div>
        <div class="shareable-overlay">⇩</div>
      </a>
    </div>
    <div class="shareable">
      <a download="kickl_shareable_6.png" href="/static/img/shareables/kickl_shareable_6.png" title="Als Innenminister ist er nun selbst diese Drohung.">
        <noscript>
          <img class="shareable-image" src="/static/img/shareables/kickl_shareable_6.png" />
        </noscript>
        <div class="shareable-image"></div>
        <div class="shareable-overlay">⇩</div>
      </a>
    </div>
    <div class="shareable">
      <a download="kickl_shareable_7.png" href="/static/img/shareables/kickl_shareable_7.png" title="Wie rücktrittsreif ist Innenminister Herbert Kickl?">
        <noscript>
          <img class="shareable-image" src="/static/img/shareables/kickl_shareable_7.png" />
        </noscript>
        <div class="shareable-image"></div>
        <div class="shareable-overlay">⇩</div>
      </a>
    </div>
  </section>
{% endblock %}
