{% extends "base.html" %}

{% block herotext %}
  <div  id="nein" class="nein-text">
    <h1>Privacy Policy</h1>
  </div>
{% endblock %}

{% block herofoot %}
  <div class="intro row middle-xs">
      <div class="col-xs-12 col-md-8 col-md-offset-2 center-xs">
        <ol class="row">
          <li class="col-xs-6">
            <h4><a>Lorem Impsum</a></h4>
          </li>
          <li class="col-xs-6">
            <h4><a>Lorem Impsum</a></h4>
          </li> 
          <li class="col-xs-6">
            <h4><a>Lorem Impsum</a></h4>
          </li>
          <li class="col-xs-6">
            <h4><a>Lorem Impsum</a></h4>
          </li>
          <li class="col-xs-6">
            <h4><a>Lorem Impsum</a></h4>
          </li> 
          <li class="col-xs-6">
            <h4><a>Lorem Impsum</a></h4>
          </li>
        </div>
      </ol>
  </div>
{% endblock %}

{% block bodycontent %}
  <section>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4>
        1. Lorem Impsum
      </h4>
      <p> 
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4>
        2. Lorem Impsum
      </h4>
      <p> 
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <h4>
        3. Lorem Impsum
      </h4>
      <p> 
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      </p>
    </div>
  </section>
{% endblock %}
