{% extends "base.html" %}

{% block herotext %}
  <div id="nein" class="nein-text">
    <h1>Datenschutz</h1>
  </div>
{% endblock %}

{% block herofoot %}
  <div class="intro row middle-xs">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <p> 
        Wenn du unsere Petition unterschreibst, speichern wir deinen Namen und deine E-Mail-Adresse, um deine Identität als TeilnehmerIn festzuhalten und um Mehrfachunterschriften auszuschließen. Diese Daten werden nach dem Ende der Unterzeichnungsfrist an die Österreichische Präsidentschaftskanzlei, Hofburg, Ballhausplatz, 1010 Wien übergeben und daraufhin von uns gelöscht.
      </p>
      <p>
        Um Missbrauch zu vermeiden, speichern wir außerdem eine zufällige Zeichenkette, die wir für einen Bestätigungslink verwenden, den du per E-Mail zugesandt bekommst, wie häufig wir dir eine solche E-Mail geschickt haben und ob du deine Unterschrift bestätigt hast. Diese Daten werden nach dem Ende der Unterzeichnungsfrist von uns gelöscht.
      </p>
      <p>
        Wir speichern außerdem, ob du wünschst, unseren Newsletter zu erhalten, und übertragen deine E-Mail-Adresse gegebenenfalls in unser Newslettersystem. Informationen zum Datenschutz bezüglich unseres Newsletters findest du unter <a href="https://epicenter.works/datenschutz#newsletter">hier</a>.
      </p>
      <p>
        Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 9 Abs. 2 lit a DSGVO. Du kannst der Verarbeitung jederzeit widersprechen. Weitere Informationen zum Verantwortlichen für die Verarbeitung, zu deinen Rechten, Kontaktdaten, sowie zu den Datenschutzbedingungen beim Besuch unserer Websites findest du <a href="https://epicenter.works/datenschutz">hier</a>.
      </p>
    </div>
  </div>
{% endblock %}

