
<div class="intro social row center-xs middle-xs">
    <div class="col-xs-12">
      <h3>Nur wenn wir viele sind, erreichen wir unser Ziel!</h3>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <a class="socicon-twitter" href="https://twitter.com/intent/tweet?text=https%3A//istkicklschonweg.at"></a>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <a class="socicon-facebook" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//istkicklschonweg.at"></a>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <a class="socicon-mail" href="mailto:?&subject=istkicklschonweg.at&body=https%3A//istkicklschonweg.at"></a>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <a class="socicon-whatsapp" href="https://api.whatsapp.com/send?text=https%3A//istkicklschonweg.at"></a>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <a class="socicon-telegram" href="https://telegram.me/share/url?url=https%3A//istkicklschonweg.at?text=https%3A//istkicklschonweg.at"></a>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <a class="socicon-instagram" href=""></a>
    </div>
  </div>
</div>