
<div class="intro social row center-xs middle-xs">
    <div class="col-xs-12">
      <div class="col-xs-12 col-md-8 col-md-offset-2">
        <h3>Nur wenn wir viele sind, erreichen wir unser Ziel!</h3>
        <p>Jede Stimme zählt, wenn es darum geht Druck auf diese Regierung aufzubauen.<br />Teile diese Seite jetzt auf Social Media:</p>
      </div>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <h2><a class="socicon-twitter" target="_blank" href="https://twitter.com/intent/tweet?text=Wir+fordern+den+R%C3%BCcktritt+von+Herbert+Kickl+%E2%80%93+unserst%C3%BCtze+jetzt+unsere+Petition%21+https%3A%2F%2Fistkicklschonweg.at"></a></h2>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <h2><a class="socicon-facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fistkicklschonweg.at?t=Wir+fordern+den+R%C3%BCcktritt+von+Herbert+Kickl+%E2%80%93+unserst%C3%BCtze+jetzt+unsere+Petition%21"></a></h2>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <h2><a class="socicon-mail" target="_blank" href="mailto:?&amp;subject=istkicklschonweg.at&amp;body=Wir+fordern+den+R%C3%BCcktritt+von+Herbert+Kickl+%E2%80%93+unserst%C3%BCtze+jetzt+unsere+Petition%21+https%3A%2F%2Fistkicklschonweg.at"></a></h2>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <h2><a class="socicon-whatsapp" target="_blank" href="https://api.whatsapp.com/send?text=Wir+fordern+den+R%C3%BCcktritt+von+Herbert+Kickl+%E2%80%93+unserst%C3%BCtze+jetzt+unsere+Petition%21+https%3A%2F%2Fistkicklschonweg.at"></a></h2>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <h2><a class="socicon-telegram" target="_blank" href="https://telegram.me/share/url?url=https%3A//istkicklschonweg.at?text=Wir+fordern+den+R%C3%BCcktritt+von+Herbert+Kickl+%E2%80%93+unserst%C3%BCtze+jetzt+unsere+Petition%21+https%3A%2F%2Fistkicklschonweg.at"></a></h2>
    </div>
    <div class="col-xs-4 col-md-2 center-xs">
      <h2><a class="socicon-instagram" target="_blank" href=""></a></h2>
    </div>
</div>
