<body>
  <p>
    Hallo {{ full_name }},
  </p>
  <p>
    danke für deine Unterstützung unserer Rücktrittsforderung von Herbert Kickl. Damit wir deine Stimme zählen können fehlt nur mehr ein kleiner Schritt!
    Bitte klicke auf diesen Bestätigungslink: 
  </p>
  <p>
    <a href="{{ confirmation_url|safe }}">{{ confirmation_url|safe }}</a>
  </p>
  <p>
    Unsere Petition wird nur erfolgreich sein, wenn wir viele sind! Teile daher unsere Seite auf Social Media:
    [Social Media Buttons here]
  </p>
  <p>
    Vielen Dank für deine Hilfe!
  </p>

  <p>
    Liebe Grüße,
    xyz von epicenter.works
  </p>
</body>