/* Misc */
body, html { margin: 0; padding: 0}
      
::selection {
  background: #D6222B; 
  color: #F0F0F0;
}
::-moz-selection {
  background: #D6222B; 
  color: #F0F0F0;
}
.row {
  margin: 0 !important;
}

/* Text */
body, .petition-input {
  font-family: Arvo, sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 6rem;
  margin: 0;
}
h2 {
  margin: 0;
  font-size: 3rem;
}
h3 {
  margin: 0;
  font-size: 2rem;
  display: inline-block;
}
blockquote {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
a {
  color: #F0F0F0;
}
p, span, input {
  font-size: 1rem;
}
p {
  margin-top: 16px;
}
footer span {
  background-color: #FF2833;
  color: #F0F0F0;
  display: inline-block;
}

/* Hero */
.hero  {
  width: 100%;
  height: 100vh;
  display: table;
}
.hero-body {
  min-height: 60vh;
}
.petition-container {
  padding: 16px 16px 32px 16px;
  margin: 0 !important;
  background-color: #FF2833;
  color: #F0F0F0;
}
.nein {
  margin: auto 0 0 0;
}
.nein > h3, .errorlist {
  background-color: #F0F0F0;
  color: #FF2833;
}  

/* Intro */
.hero-foot {
  margin: 0;
  display: table-row;
  height: 100%;
}
.intro {
  background-color: #232323;
  color: #F0F0F0;
  padding: 32px;
  height: 100%;
}

/* Sünden */ 
section {
  background-color: #F0F0F0;
  color: #A3A3A3;
  padding: 32px;
  min-height: 240px;
}
section:nth-child(odd) {
  background-color: #A3A3A3;
  color: #F0F0F0;
}

/* Petition */
.petition {
  margin-top: 16px;
}

::placeholder {
  color: #F0F0F0;
  opacity: .9;
}

:-ms-input-placeholder {
  color: #F0F0F0;
  opacity: .9;
}

::-ms-input-placeholder {
  color: #F0F0F0;
  opacity: .9;
}

.petition-input::selection {
  background: #F0F0F0; 
  color: #D6222B;
}
.petition-input::-moz-selection {
  background: #F0F0F0; 
  color: #D6222B;
}
.petition-input:hover, .petition-input:focus, label:hover:before{
  background-color: #CC252F !important;
}

.petition-input, .petition-text {
  margin-bottom: 8px;
}

.petition-input, label:before {
  border: 0;
  padding: 8px;
  background-color: #D6222B;
  resize: none;
  width: 100%;
  box-sizing: border-box;
  color: #FFF0F0;
  transition: background-color .3s;
}

label {
  display:inline-block;
  margin-bottom: 4px;
}

label.required:after {
  content: " *"
}

input[type="checkbox"] {
  box-sizing: border-box;
  display:none;
}

input[type="checkbox"] + label {
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 24px;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 100%;
  box-sizing: border-box;
} 

input[type="checkbox"] + label:before {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute; 
  background-color: #D6222B;
  left: 0;
  top: 2px;
}
input[type="checkbox"]:checked + label:before {
  background-color: #FFD0D0;
  opacity: 1;
}
input[type="checkbox"]:checked:hover + label:before {
  background-color: #FFD0D0 !important;
  opacity: 1;
}

.errorlist {
  list-style: none;
  padding: 0;
  margin: 0 0 8px 0;
}

/* Footer */
footer {
  width: 100%;
  background-color: #232323;
}

Digitale Hausdurchsuchungen bei Asylwerbenden

footer span {
  margin-bottom: 4px;
}

.footer-column {
  margin-top: auto;
  padding: 32px 16px 32px 16px;
}

/* Sharing */
.social a {
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.social a:hover{
  transform: translateY(-4px);
  text-shadow: 0px 8px 0px #FF2833;
}
